
*{margin: 0;padding: 0;}
/*Header part*/
.h5, h5 {
    font-size: 1.25rem;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.h2, h2 {
    font-size: 40px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-style: italic;
}
.search .fa-search{
    font-size: 36px;
    color:gray;
}
ul.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}
ul.our-primary-menu li a:hover{}

/*  DropDown Menu CSS  */
.navbar-light .navbar-brand img {
    width: 125px;
}
ul.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 300px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}
ul.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}

ul.our-primary-menu li ul li a{}

.header-info{}
.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon {
    font-size: 33px;
    color: #008df9;
}
.header-call-info span{
    color: #606060;
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
p.paragraph_color {
    color: black;
    font-style: italic;
}
.span_icons ul{
    list-style: none;
}
.span_icons ul li{
padding: 8px;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 59px;
}

/* Background Section */
h4.mb-3.heading_color {
    color: #070807;
    font-weight: bold;
    font-style: italic;
    color: red;
}
h1.mb-4.big_heading {
    color:black;
    font-weight: bold;
    font-style: italic;
}
.section1{
    position: relative;
    background: url(images/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
}
.layer_overlay{
    position: absolute;
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.facebook .fa-facebook-f{
font-size: 24px;
color: #295fd4;
}
.twitter .fab {
    font-size: 25px;
    color: #9E283E;
}

.instragram .fab{
    font-size: 25px;
color: #295fd4;
}
.linkiden.mr-2 {
    color: gainsboro;
    font-size: 20px;
}
/*Logo slider  */
section.py-5.border_bottom {
    border-bottom: 1px solid;
}
        .first{
      margin-right: 10px;
        }
        .first:hover{
            transform: scale(.6);
            transition: all 1s ease;
            
        }
        .logos{
            margin-left: 100px;
            display: flex;
        }
/*Services Section */
.img_relative{position: relative;}
.absolute img{
    margin-bottom: 200px;
}
body .btn-primary {
    background-color: #91cffe !important;
    border-color: #90ceff;
    padding: 10px 40px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;

    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover::after{
    width: 100%;
}

.about_company{
    color:green;
    color: #ffffff;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: -27px;
    margin-top: 1rem;
}
.fa-check{
    color: red;
    font-size: 1.2rem;
}
.relative{
    position: relative;
}
.absolute {
    position: absolute;
    left: 332px;
    margin-top: 303px;
    margin-left: 91px;
}
.text{
    position: absolute;
    left: 100px;
}
/* choose_us*/
.choose_us{
    background: #F9FAFB;
    margin-top: 80px;
    padding: 80px;
}
.text {
    position: absolute;
    margin-top: -155px;
    margin-left: 370px;
}
.features_items{
    position: relative;
    background: white;
    padding: 30px;
    margin-bottom: 28px;
    overflow: hidden;
    transition: .5s;
}
.features_items .fi_icon{
}
.features_items .fi_icon i{
    color: green;
    font-size: 30px;
    width: 90px;
    height: 80px;
    line-height: 90px;
    background:white;
    border-radius: 50%;
    position: relative;
    transition: .5s;
}
.fi_icon h3{

}
.fi_icon p{

}
.features_items:hover{
    transform: translateY(-15px);
}
.features_items:hover .fi_icon i{
    background: green;
    color: white;
}
.features_items::before{
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 50%;
    background: #f0c1c1;
}
.mt4{
    margin-top: -30px;
}
.play_animation_button {
    width: 90%;
    height: 90%;
    text-align: center;
    line-height: 90%;
    color: green;
    font-size: 65px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 74px;
    bottom: -483px;
}
.play_animation_button .fa-play-circle{

}
.positionab{
    position: relative;
}
.play_animation_button::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    background: green;
    border-radius: 50%;
    animation: playbuttonanimation 1.6s ease-out infinite;
}
@keyframes playbuttonanimation{
    0%,30%{
transform: scale(0);
opacity: 1;}
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{transform: scale(2);
           opacity: 0;
    }
}
/*Funding Section*/
.funding_text{
    padding-top: 50px;
}
/*Bussiness loan*/
.col-lg-6.p-5 {
    background: #FDEBEB;
}
/* Apply now section */
.apply_now_text{

}
.step_timeline{

}
.step_timeline ul{
    list-style: none;
    position: relative;
    padding-left: 60px;

}
.step_timeline ul li{
margin-bottom: 22px;
position: relative;
}
.step_timeline ul li strong{
font-size: 25px;
display: block;
margin-bottom: 10px;
}
.step_timeline ul li p {
    color: #0c130c;
}
.step_timeline ul::before{
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    width: 1px;
    background: #e73a3e;
    height: calc(100% - 100px);
}
.step_timeline ul li::before {
    content: attr(data-counter);
    position: absolute;
    top: 0;
    left: -64px;
    height: 40px;
    border: 1px solid green;
    border-radius: 50%;
    width: 40px;
    font-weight: bold;
    line-height: 40px;
    background: #f9fafb;
    text-align: center;
}
/*Contract section*/
.big_letter{
    font-size: 40px;
}
.contract_section{
    width: 100%;
    padding-top: 50px;

}
.border_class{
border-right: 1px solid red;
}
.container_color{
    padding: 100px;
    border-radius: 10px;
    background: #d8f1d8;
}
/*Company value*/
.company_value{
    width: 100%;
    padding: 100px;    
}
.idea_width{
    font-size: 40px;
}
.talent{
    width: 40px;
    color:green;
}
.innovative{
    margin-right: 8px;
}
/*Knowing market*/
.knowing_market{
background: #F9FAFB;
    padding: 70px;
}
.knowledge_margin{
    margin-bottom: 5px;
}
.best_services{
    font-weight: bold;
}
/*Agriculture Loan*/
.agriculture_width{
    width: 50px;
}
.loan_section{
    width: 100%;
    padding: 100px;
    background: #F9FAFB;

}
.border_section{
 border-bottom: 2px solid gray;   
}
.row_border{
margin-bottom: 100px;
}
/*Loan Slider*/
.section_slider{
    padding:0px;
}
.eduction_slider_div ul{
    list-style: none;
}
.eduction_slider_div .fa-circle{
    color:green;
}
.home_loan_slider h2{
    font-weight: bold;
}
.eduction_slider_div h2{
    font-weight: bold;
}
.business_loan_slider h2{
    font-weight: bold;
}
.section_slider{
    background: #F9FAFB;
}
.col-lg-1 ul{
 list-style: none;
}
.col-lg-1 ul li .fa-circle{
    color: red;
}
i.fa.fa-circle.green_circle{
 color: green;   
}
/*Expert section*/
.expert_color{
    background: #F9FAFB;
}
.expert_section{
    background: #F9FAFB;
}
/*Bootstrap Tabs*/
.main_services_tabs .content_text ul{
    list-style: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: red;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.tabs_section{
    background: #F9FAFB;
}
/*Portfolio section*/
.team-member-section{
    background: #fafbfc;
}
.member-image{
    position: relative;
}
.member-image:hover .member-social-profile ul li{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}
.member-social-profile{
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
.member-social-profile ul{
    text-align: center;
    padding-left: 0px;
    margin-bottom: 25px;
}
.member-social-profile ul li{
    transition: .5s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    display:inline-block;
}
.member-social-profile ul li a{
    font-size: 20px;
    display: block;
    height: 40px;
    width: 40px;
    background: #fff;
    color: #444;
    border-radius: 50%;
    line-height: 40px;
    transition: .4s;
}
.member-social-profile ul li a:hover{
    color:#fff;
    background: green;
}
.member-social-profile img{
    width: 100%;
    height: auto;
}

.member-image .member-social-profile ul li:nth-child(1){
    transition-delay: .2s;
}
.member-image .member-social-profile ul li:nth-child(2){
    transition-delay: .3s;
}
.member-image .member-social-profile ul li:nth-child(3){
    transition-delay: .4s;
}
.member-image .member-social-profile ul li:nth-child(4){
    transition-delay: .5;
}
.member-content h4{
    color:green;
}
.member-content p{
    color: #666;
}
/*post style*/
.post_section{
}
.col-lg-4 a {
    text-decoration: none;
    color: black;
}
.col-lg-4 h4 {
    margin-top: 6px;
    color: green;
}
.col-lg-4 a:hover {
    color:green;
}
.col-lg-4 a.btn {
    margin-left: -14px;
}
/*Footer widget*/
.footer_widget{
    background: #111111;
}
.border_footer_heading{
font-size: 17px;
color: white;
margin-bottom: 5px;
}
.text-primary {
    color: #fafafa!important;
}
.widget_text_color{
    color: white;
}
.border_footer_heading{
    border-bottom: 1px solid gray;
}
.before_widget_footer ul{
    list-style-type: none;
}
.before_widget_footer ul li a{
    text-decoration: none;
    color: #fafafa;
}
.fa-map-marker-alt{
    color:white;
}
.widget_contract .mobile_icon_color{
    color: white;
    font-size: 19px;

}
.widget_contract .fa-envelope{
    color: white;
}
.widget_contract {
    margin-top: 12px;
    border-top: 1px solid gray;
}
.footer_section{
    background: black;
    color: white;
    border-top: 1 px solid gray;
    padding: 10px;

}
.text-success {
    color: #fafafa!important;
}
.footer_section .container p{
    font-size: 13px;
    text-align: center;
    line-height: normal;
}